body{

}

img{
	/* Keep the image inside of the parent no matter what */
	width: 286px;
	height: 286px;
	
	
}



/* Card is teh garandparent and needs perspective. */
/* This doesn't make card 3d, it makes it 3d for everyone else. */
.card{
	perspective: 800px;
	border: transparent;
	height: 400px;
}

/* Card-holder is the child, it is the thing that will flip */
/* I have 2 children, front and back, they do not flip... I do
/* the grandchildren need to know they are 3d */	
.card-holder{
	position: relative;
	transform-style: preserve-3d; 
	transition: 2s all;
	cursor: pointer;
	width: 286px;
	
	
}

.card-front, .card-back{
	position: absolute;
	top:  0;
	left: 0;
	backface-visibility: hidden;
}

.card-front{
	transform: rotateY(180deg);
}

.card-back{
	/* we are inside of css, go up one with ..
	/ then down into images to get bw */

	background: url('./images/logo-bw.jpg') no-repeat 50% 50%;	
	height: 285px;
	width: auto;
}

.flip, .tempFlip{
	transform: rotateY(-180deg);
}
.matched{
    transform: rotateY(180deg);
}

.float{
	top: 0px;
	
}


.col-sm-2 {
    width: 25%;
}